@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Asimovian&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body{
    margin: 0;
    font-family: "DM Sans", sans-serif;
}

#hr{
    margin: 10px;
}

input{
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    margin: 5px;
    border: 1px solid black;
}

label{
    margin: 5px;
}

button{
    margin: 5px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: dodgerblue;
    padding: 10px 20px;
    width: auto;
}

button:hover{
    background-color: deepskyblue;
    cursor: pointer;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.main-data{
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    border-radius: 40px;
    width: 50%;
    margin: 0 auto;
}

p{
    margin-top: 5px;
    margin-bottom: 5px;
}

h3{
    margin: 10px;
    margin-left: 0;
    margin-bottom: 5px;
    font-size: 24px;
}

.main-data-2{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.temp-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    font-size: 48px;
    gap: 10px;
    font-weight: bolder;
}

.Forecast-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border-radius: 40px;
}

.forecast-day{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 30px;
    padding: 20px 30px;
}